
.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
    margin: auto;
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    padding: .3em
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    box-shadow: 0px 2px 5px 0px rgb(0 52 102 / 11%);
  }

 .login-button:hover{
  transform: scale(1.1);
  transition-duration: 1s;
 }  
  
  .linky-button {
    border: none;
    background-color: white;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    box-shadow: 0px 2px 5px 0px rgb(0 52 102 / 11%);
    transition: all .2s ease-in-out; 
  }

  #data:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }

  #category:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }

  ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  li{
    padding: 1em;
    font-size: 1.25em;
  }

  .wrapper{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2.5em;
  }
  

  .glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #7439db;
    background-color: white;;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
  color: #7439db;;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    color: #7439db;;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
